<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
<div class="container">
    <h1>기성이와 종근이의 깃허브 블로그</h1>
    <p></p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>번호</th>
        <th>글 제목</th>
        <th>작성자</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>깃 허브를 연동하는 방법 1</td>
        <td>심기성</td>
    </tr>
    <tr>
        <td>2</td>
        <td>깃 허브를 연동하는 방법 2</td>
        <td>심기성</td>
    </tr>
    <tr>
        <td>3</td>
        <td>깃 허브를 연동하는 방법 3</td>
        <td>심기성</td>
    </tr>
    <tr>
        <td>4</td>
        <td>깃 허브를 연동하는 방법 4</td>
        <td>심기성</td>
    </tr>
    </tbody>
</table>

<button type="button" class="btn btn-default pull-right">글쓰기</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="/text/javascript" src="/js/bootstrap.js"/>
</body>
</html>